<% include partials/head %> 

	<div id="app">
		<% if (message != null) { %>
			<div><%= message %></div>
			<br>
		<% } %>
		<br>
		<a href="/api/users">api router mongo test for signedUp USERS</a>
	</div>

<% include partials/foot %> 



